<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLConsultation.Properties.Settings.Connection" connectionString="Data Source=.\MSSMLBIZ;Initial Catalog=db_sedesol;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>